.paymentMethod {
  border-right: 1px solid hsla(0, 0%, 100%, .1);
  padding: 1em 2em;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .creditCardBrand {
    position: absolute;
    bottom: 22px;
    right: 25px;
    top: 30px;
  }

  #card-number {
    padding-left: 50px;
  }
}

.product-summary {
  padding: 1em 2em;
  //max-width: 280px;

  .product-image {
    position: relative;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, .4);
    transition: box-shadow .2s ease-in-out;
    margin-bottom: 1em;
  }

  h6 {
    text-transform: uppercase;
    font-size: 0.7em;
    color: #000;
    margin-bottom: 0;
  }

  .product-name-group {
    margin-bottom: 1.2em;
    text-align: left;

    .product-name {
      font-size: 18px;
      line-height: 20px;
      opacity: .7;
      color: #000;
      margin-top: 0.5em;
    }
  }

  .checkout-total {
    text-align: left;
    .price {
      font-size: 24px;
      opacity: .7;
      margin-bottom: 0;
      color: #000;
    }
  }
}

.pay-methods {
  padding: 0.5em;
  background-color: #FFF;

  div {
    img {
      max-width: 40px;
    }
  }
}
