# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.idea/
# testing
coverage/

# next.js
out/
# production
build/

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# avoid adding npm's lock.json ('cause we're using yarn)
package-lock.json

# docz
.docz/
.now/
.vercel/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# dependencies
# repository/project stuff
.git/
.gitlab-ci.yml
README.md

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# non prod env files
.env.development
.env.test
