@font-face {
    font-family: 'Helvetica CE';
    src: local('Helvetica CE Condensed Bold'), local('HelveticaCE-CondBold'),
        url('HelveticaCE-CondBold.woff2') format('woff2'),
        url('HelveticaCE-CondBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica CE';
    src: local('Helvetica CE Condensed Medium'), local('HelveticaCE-Cond'),
        url('HelveticaCE-Cond.woff2') format('woff2'),
        url('HelveticaCE-Cond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

