/**
  COMPONENTS
 */
@import "components/multiStepIndicator";
@import "components/wizard/complete";
@import "components/wizard/payment";
@import "~flatpickr/dist/themes/dark.css";

.bob-overlay {
  .slide-wrapper {
    z-index: 9;
  }
}
.bob-title-art {
  z-index: -1 !important;
}


.netslider {
  overflow: hidden;
}
