/**
  COMPONENTS
 */
@import "~bootstrap";
@import "components/multiStepIndicator";
@import "components/wizard/complete";
@import "components/wizard/payment";
@import "components/mediaCard";
@import "~flatpickr/dist/themes/dark.css";
@import "pages/signup";
@import "pages/subscripton";

.bob-overlay {
  .slide-wrapper {
    z-index: 9;
  }
}

.bob-title-art {
  z-index: -1 !important;
}


.index__contents {
  //overflow: hidden;
  overflow-x: hidden;
  //overflow-y: auto;
}
