
name: Deploy to Zeit

on:
  push:
    branches:
      - dev
      - feature/*

jobs:
  deploy:
    name: Deploy to Zeit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: River
        env:
          NOW_ORG_ID: team_WtAI5aOHuDxYRprOgqAOqdAS
          NOW_PROJECT_ID: QmZ5zE5vfVvd5uUandbhdALHW5ysAEKoaPm6NFVeEJvb9r
          NOW_TOKEN: ${{ secrets.ZEIT_TOKEN }}
        run:
          now -A now.river.dev.json --prod -t $NOW_TOKEN

      - name: Colo Colo
        env:
          NOW_ORG_ID: team_WtAI5aOHuDxYRprOgqAOqdAS
          NOW_PROJECT_ID: QmZYb5yG2fKzk2CXB8thALWjjTfJ1HjhgaozUGF3bdbtDZ
          NOW_TOKEN: ${{ secrets.ZEIT_TOKEN }}
        run:
          now -A now.colocolo.dev.json --prod -t $NOW_TOKEN
